# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.pioenvs/m5stack-core-esp32/*.bin
/.pioenvs/m5stack-core-esp32/*.elf
/.pioenvs/m5stack-core-esp32
/.pioenvs/m5stack-core-esp32/*.bin
/.pioenvs/m5stack-core-esp32/*.elf
